.castoro-titling-regular {
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    font-family: "Castoro Titling", serif;
  }

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin:  0 0 0 15px
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;    
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.products{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.products li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.products li:hover{
   border-color: #c78c19;
}

.products li:active{
    border-color: green;
}

.products h2{
    font-size: 30px;
    font-weight: bold;
}

.products li:hover h2{
    border-color: #c78c19;
    font-size: 33px;
}

.product-description{
    font-size: 18px;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}


form{
    margin: 40px 0
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px
}

.input-pattern{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.submit{
    padding: 15px 0;
    width: 40%;
    font-size: 18;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
   
}

.submit:hover{
    background-color: darkorange;
}

table{
    margin: 40px 40px;
}

thead{
    background: grey;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}


/*CSS For the Home page*/

.banner{
    width: 100%;
}

.primary{
    padding: 3em 0;
    background: #FEFEFE;
    margin: 0 auto;
}

.main-title{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 2px 2px 2px black;
}

.primary p{
    margin: 0 0 1em;
}

.primary strong{
    font-weight: bold;
}

.primary em{
    font-style: italic;
}

.utility{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.map{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}


.map p{
    margin: 0 0 2em;
    text-align: center;
}

.map-content{
    width: 940px;
    margin: 0 auto;
}

.diferences{
    padding: 3em 0;
    background: #888888;
}

.differences-content{
    width: 640px;
    margin: 0 auto;
}

.list-differences{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:before{
    content: "\2736";
}

.items:first-child{
    font-weight: bold;
}

.diffImages{
    transition: 400ms;
    box-shadow: 10px 10px 30px 10px black;
}

.diffImages:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .box, .primary, .map-content, .diferences, .video{
        width: auto;
    }
    .list-differences, .diffImages{
        width: 100%;
    }
}